// Badge
// ===================================
.badge {
  $parent: &;
  display: inline-block;
  padding: 0.3em 0.8em;
  border-radius: 1000px;
  background-color: var(--blue-03);
  font-size: 14px;
  color: var(--blue-pressed);
  transition: var(--transition);

  @media only screen and (max-width: 480px) {
    padding: 0.2em 0.7em;
    font-size: 14px;
  }

  &--small {
    font-size: 12px;
    background-color: var(--light-white);
    border: 1px solid var(--blue-05);
  }

  &--question {
    @extend #{$parent}--small;
    background-color: var(--salad-03);
    border-color: var(--salad-03);
  }

  &--light {
    background-color: var(--blue-01);
  }

  &--green {
    background-color: var(--green-03);
  }
}

// Badge icon
// ===================================
.badge-icon {
  display: flex;
  align-items: center;

  &__text {
    font-size: 16px;
    color: var(--dark-05);
    transition: var(--transition);

    @media only screen and (max-width: 880px) {
      font-size: 14px;
    }
  }

  &__icon {
    width: 1em;
    height: 1em;

    use {
      fill: var(--dark-05);
      transition: var(--transition);
    }
  }

  &__icon + &__text {
    margin-left: 4px;
  }
}

// Badge date
// ===================================
.badge-date {
  @extend .badge-icon;

  &__text {
    @extend .badge-icon__text;
  }

  &__icon {
    width: 1.2em;
    height: 1.2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4H17V3C17 2.73478 16.8946 2.48043 16.7071 2.29289C16.5196 2.10536 16.2652 2 16 2C15.7348 2 15.4804 2.10536 15.2929 2.29289C15.1054 2.48043 15 2.73478 15 3V4H9V3C9 2.73478 8.89464 2.48043 8.70711 2.29289C8.51957 2.10536 8.26522 2 8 2C7.73478 2 7.48043 2.10536 7.29289 2.29289C7.10536 2.48043 7 2.73478 7 3V4H5C4.20435 4 3.44129 4.31607 2.87868 4.87868C2.31607 5.44129 2 6.20435 2 7V19C2 19.7956 2.31607 20.5587 2.87868 21.1213C3.44129 21.6839 4.20435 22 5 22H19C19.7956 22 20.5587 21.6839 21.1213 21.1213C21.6839 20.5587 22 19.7956 22 19V7C22 6.20435 21.6839 5.44129 21.1213 4.87868C20.5587 4.31607 19.7956 4 19 4V4ZM20 19C20 19.2652 19.8946 19.5196 19.7071 19.7071C19.5196 19.8946 19.2652 20 19 20H5C4.73478 20 4.48043 19.8946 4.29289 19.7071C4.10536 19.5196 4 19.2652 4 19V12H20V19ZM20 10H4V7C4 6.73478 4.10536 6.48043 4.29289 6.29289C4.48043 6.10536 4.73478 6 5 6H7V7C7 7.26522 7.10536 7.51957 7.29289 7.70711C7.48043 7.89464 7.73478 8 8 8C8.26522 8 8.51957 7.89464 8.70711 7.70711C8.89464 7.51957 9 7.26522 9 7V6H15V7C15 7.26522 15.1054 7.51957 15.2929 7.70711C15.4804 7.89464 15.7348 8 16 8C16.2652 8 16.5196 7.89464 16.7071 7.70711C16.8946 7.51957 17 7.26522 17 7V6H19C19.2652 6 19.5196 6.10536 19.7071 6.29289C19.8946 6.48043 20 6.73478 20 7V10Z' fill='url(%23paint0_linear_180_3378)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_180_3378' x1='12' y1='2' x2='12' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23009CCE'/%3E%3Cstop offset='0.556896' stop-color='%231BD9B6'/%3E%3Cstop offset='1' stop-color='%239BEFB3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");

    @media only screen and (max-width: 480px) {
      width: 1.1em;
      height: 1.1em;
    }
  }

  &__icon + &__text {
    margin-left: 0.3em;
  }
}

// Badge time
// ===================================
.badge-time {
  @extend .badge-date;

  &__text {
    @extend .badge-date__text;
  }

  &__icon {
    @extend .badge-date__icon;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V12C11 12.2652 11.1054 12.5196 11.2929 12.7071C11.4804 12.8946 11.7348 13 12 13H15C15.2652 13 15.5196 12.8946 15.7071 12.7071C15.8946 12.5196 16 12.2652 16 12C16 11.7348 15.8946 11.4804 15.7071 11.2929C15.5196 11.1054 15.2652 11 15 11ZM12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2V2ZM12 20C10.4178 20 8.87104 19.5308 7.55544 18.6518C6.23985 17.7727 5.21447 16.5233 4.60897 15.0615C4.00347 13.5997 3.84504 11.9911 4.15372 10.4393C4.4624 8.88743 5.22433 7.46197 6.34315 6.34315C7.46197 5.22433 8.88743 4.4624 10.4393 4.15372C11.9911 3.84504 13.5997 4.00346 15.0615 4.60896C16.5233 5.21447 17.7727 6.23984 18.6518 7.55544C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1572 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20V20Z' fill='url(%23paint0_linear_328_6725)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_328_6725' x1='12' y1='2' x2='12' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23009CCE'/%3E%3Cstop offset='0.556896' stop-color='%231BD9B6'/%3E%3Cstop offset='1' stop-color='%239BEFB3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

// Badge rating
// ===================================
.badge-rating {
  @extend .badge-date;

  &__text {
    @extend .badge-date__text;
  }

  &__icon {
    @extend .badge-date__icon;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.9665 9.56167C21.9034 9.37048 21.7887 9.20254 21.6362 9.07823C21.4838 8.95392 21.3002 8.87858 21.1076 8.86133L15.4254 7.99375L12.8788 2.58965C12.797 2.41293 12.6694 2.26388 12.5104 2.1596C12.3515 2.05531 12.1676 2 11.98 2C11.7924 2 11.6086 2.05531 11.4497 2.1596C11.2907 2.26388 11.163 2.41293 11.0813 2.58965L8.53474 7.9833L2.85247 8.86133C2.66764 8.88883 2.49388 8.97 2.3509 9.09564C2.20792 9.22128 2.10145 9.38635 2.04357 9.57212C1.99059 9.75366 1.98583 9.94688 2.02982 10.131C2.0738 10.3152 2.16486 10.4833 2.29323 10.6174L6.41762 14.7985L5.41898 20.7357C5.37866 20.9327 5.39356 21.1376 5.4619 21.3259C5.53024 21.5142 5.6491 21.6778 5.80418 21.7971C5.95926 21.9164 6.14396 21.9862 6.33606 21.9981C6.52815 22.0101 6.71947 21.9638 6.88698 21.8646L11.98 19.0737L17.0731 21.8646C17.2133 21.9474 17.3716 21.9906 17.5325 21.9901C17.744 21.9908 17.9503 21.9213 18.1217 21.7915C18.2766 21.6753 18.3966 21.5151 18.4673 21.3299C18.5381 21.1447 18.5568 20.9421 18.5211 20.7462L17.5225 14.809L21.6469 10.6279C21.7911 10.5 21.8976 10.3319 21.9542 10.1432C22.0108 9.95448 22.015 9.75283 21.9665 9.56167ZM15.8248 13.7428C15.7092 13.8603 15.6225 14.0053 15.5721 14.1655C15.5217 14.3257 15.509 14.4962 15.5352 14.6626L16.2542 19.0528L12.4993 16.9623C12.3534 16.8867 12.1928 16.8474 12.03 16.8474C11.8672 16.8474 11.7065 16.8867 11.5606 16.9623L7.80573 19.0528L8.52475 14.6626C8.55095 14.4962 8.5383 14.3257 8.48787 14.1655C8.43744 14.0053 8.35073 13.8603 8.23514 13.7428L5.23922 10.607L9.4435 9.96933C9.60528 9.94578 9.75907 9.88105 9.89139 9.78082C10.0237 9.68059 10.1305 9.54791 10.2025 9.39443L11.98 5.41191L13.8575 9.40488C13.9294 9.55837 14.0362 9.69104 14.1686 9.79127C14.3009 9.8915 14.4547 9.95623 14.6165 9.97978L18.8207 10.6174L15.8248 13.7428Z' fill='url(%23paint0_linear_199_5523)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_199_5523' x1='12' y1='2' x2='12' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23009CCE'/%3E%3Cstop offset='0.556896' stop-color='%231BD9B6'/%3E%3Cstop offset='1' stop-color='%239BEFB3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

// Badge position
// ===================================
.badge-position {
  @extend .badge-date;

  &__text {
    @extend .badge-date__text;
  }

  &__icon {
    @extend .badge-date__icon;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.8415 17.9404L18.8332 12.655C19.4488 11.5048 19.7695 10.2152 19.7656 8.90554C19.7656 6.80886 18.947 4.79805 17.4897 3.31548C16.0324 1.8329 14.056 1 11.9951 1C9.93423 1 7.95776 1.8329 6.5005 3.31548C5.04325 4.79805 4.22457 6.80886 4.22457 8.90554C4.22075 10.2152 4.54144 11.5048 5.15703 12.655L2.14873 17.9404C2.05111 18.1125 1.99981 18.3076 2 18.5062C2.00019 18.7049 2.05187 18.8999 2.14983 19.0717C2.24778 19.2436 2.38854 19.3861 2.55791 19.4849C2.72728 19.5837 2.91926 19.6353 3.11449 19.6345H6.30041L7.92112 22.4127C7.97576 22.5048 8.04304 22.5885 8.12093 22.6612C8.32672 22.863 8.60108 22.9762 8.88689 22.9774H9.0423C9.20989 22.9541 9.37002 22.8921 9.51046 22.7962C9.6509 22.7003 9.76795 22.573 9.85265 22.424L11.9951 18.6745L14.1375 22.4579C14.2235 22.6047 14.3411 22.7298 14.4815 22.8237C14.6218 22.9176 14.7813 22.9779 14.9479 23H15.1033C15.393 23.0018 15.6718 22.8883 15.8804 22.6838C15.955 22.6152 16.0187 22.5352 16.0691 22.4466L17.6898 19.6684H20.8757C21.0713 19.6692 21.2636 19.6173 21.4332 19.5182C21.6028 19.419 21.7437 19.276 21.8415 19.1037C21.9452 18.928 22 18.727 22 18.5221C22 18.3171 21.9452 18.1161 21.8415 17.9404V17.9404ZM8.87579 19.6684L7.88782 17.9856C7.79054 17.8187 7.6526 17.68 7.48733 17.5831C7.32205 17.4862 7.13501 17.4342 6.94425 17.4322H5.02382L6.61123 14.6314C7.70435 15.703 9.08206 16.4254 10.5742 16.7094L8.87579 19.6684ZM11.9951 14.5523C10.8973 14.5523 9.82423 14.2212 8.91147 13.6007C7.99872 12.9802 7.28731 12.0983 6.86722 11.0665C6.44712 10.0347 6.33721 8.89927 6.55137 7.8039C6.76553 6.70852 7.29415 5.70236 8.07039 4.91264C8.84662 4.12292 9.83561 3.58511 10.9123 3.36723C11.9889 3.14934 13.1049 3.26117 14.1191 3.68856C15.1333 4.11596 16.0002 4.83972 16.6101 5.76834C17.22 6.69695 17.5455 7.7887 17.5455 8.90554C17.5455 10.4032 16.9607 11.8395 15.9198 12.8984C14.8789 13.9574 13.4672 14.5523 11.9951 14.5523V14.5523ZM17.0459 17.4322C16.8552 17.4342 16.6681 17.4862 16.5029 17.5831C16.3376 17.68 16.1997 17.8187 16.1024 17.9856L15.1144 19.6684L13.4271 16.6756C14.914 16.3858 16.2866 15.664 17.379 14.5975L18.9664 17.3983L17.0459 17.4322Z' fill='url(%23paint0_linear_199_5514)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_199_5514' x1='12' y1='1' x2='12' y2='23' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23009CCE'/%3E%3Cstop offset='0.556896' stop-color='%231BD9B6'/%3E%3Cstop offset='1' stop-color='%239BEFB3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}

// Badge user
// ===================================
.badge-user {
  @extend .badge-date;

  &__text {
    @extend .badge-date__text;
  }

  &__icon {
    @extend .badge-date__icon;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7134 12.7093C16.6986 11.9384 17.4178 10.8813 17.7708 9.68501C18.1237 8.48872 18.093 7.21276 17.6829 6.03464C17.2727 4.85652 16.5036 3.83483 15.4823 3.11171C14.4611 2.38859 13.2387 2 11.9851 2C10.7315 2 9.50904 2.38859 8.48784 3.11171C7.46664 3.83483 6.69746 4.85652 6.28731 6.03464C5.87716 7.21276 5.84644 8.48872 6.19943 9.68501C6.55241 10.8813 7.27154 11.9384 8.25678 12.7093C6.56856 13.382 5.09553 14.4976 3.99473 15.9374C2.89392 17.3771 2.20661 19.0869 2.00606 20.8846C1.99154 21.0159 2.00316 21.1487 2.04026 21.2754C2.07735 21.4022 2.13918 21.5205 2.22224 21.6235C2.38997 21.8316 2.63393 21.9648 2.90046 21.994C3.16698 22.0231 3.43424 21.9458 3.64343 21.779C3.85263 21.6122 3.98662 21.3695 4.01594 21.1045C4.23661 19.1508 5.17331 17.3465 6.64708 16.0362C8.12086 14.7259 10.0284 14.0016 12.0052 14.0016C13.982 14.0016 15.8895 14.7259 17.3633 16.0362C18.8371 17.3465 19.7738 19.1508 19.9944 21.1045C20.0218 21.3501 20.1396 21.5769 20.3252 21.7411C20.5108 21.9054 20.751 21.9955 20.9994 21.994H21.1099C21.3734 21.9638 21.6141 21.8314 21.7798 21.6254C21.9454 21.4195 22.0225 21.1568 21.9943 20.8946C21.7928 19.0918 21.1018 17.3776 19.9953 15.9357C18.8888 14.4937 17.4087 13.3784 15.7134 12.7093V12.7093ZM11.9851 11.9997C11.1901 11.9997 10.4129 11.7653 9.75184 11.326C9.0908 10.8867 8.57557 10.2624 8.27133 9.53189C7.96708 8.8014 7.88748 7.9976 8.04258 7.22212C8.19768 6.44665 8.58053 5.73433 9.1427 5.17524C9.70487 4.61615 10.4211 4.23541 11.2009 4.08115C11.9806 3.9269 12.7889 4.00607 13.5234 4.30865C14.2579 4.61122 14.8857 5.12362 15.3274 5.78103C15.7691 6.43845 16.0048 7.21137 16.0048 8.00204C16.0048 9.06229 15.5813 10.0791 14.8275 10.8288C14.0736 11.5785 13.0512 11.9997 11.9851 11.9997Z' fill='url(%23paint0_linear_199_5507)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_199_5507' x1='12' y1='2' x2='12' y2='22' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23009CCE'/%3E%3Cstop offset='0.556896' stop-color='%231BD9B6'/%3E%3Cstop offset='1' stop-color='%239BEFB3'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  }
}