@use "../mixins" as mix;

.specialists-main {

  .section-sidebar__body {
    .grid-group {
      @media only screen and (max-width: 480px) {
        gap: 20px;
      }
    }
    .grid-child {
      grid-column: 6 span;
      @media only screen and (max-width: 780px) {
        grid-column: 3 span;
      }
      .card-specialist {
        border-color: var(--light-white);
        &:hover {
          border-color: var(--light-gray);
        }
      }
    }
  }

  @media only screen and (max-width: 780px) {
    .section-sidebar__main + .section-sidebar__aside {
      margin-top: 0;
      @include mix.interpolate(margin-bottom, 320px, 1480px, 20px, 30px);
    }
  }
}