@use '../typography';
@use '../components/list';
@use '../mixins' as mix;

// article
// ===================================
.article {

  p,li,span,b,strong {
    text-align: justify;

    @media only screen and (max-width: 480px) {
      text-align: left;
    }
  }

  h1, h2 {
    @extend .title;
  }

  > * + h1,
  > * + h2 {
    @include mix.interpolate(margin-top, 320px, 1480px, 26px, 46px);
  }

  h1 + *,
  h2 + * {
    @include mix.interpolate(margin-top, 320px, 1480px, 18px, 30px);
  }

  h3 + * {
    @include mix.interpolate(margin-top, 320px, 1480px, 14px, 20px);
  }

  h4 + * {
    @include mix.interpolate(margin-top, 320px, 1480px, 10px, 22px);
  }

  > * + h3 {
    @include mix.interpolate(margin-top, 320px, 1480px, 24px, 34px);
  }

  > * + h4 {
    @include mix.interpolate(margin-top, 320px, 1480px, 18px, 30px);
  }

  p {
    @include mix.interpolate(font-size, 320px, 1480px, 16px, 18px);
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: var(--dark-075);
  }

  p + p,
  p + strong,
  ul + strong,
  ul + p{
    @include mix.interpolate(margin-top, 320px, 1480px, 14px, 20px);
  }

  big {
    font-weight: 500;
    color: var(--dark-primary);
  }

  hr {
    height: 1px;
    border: 0;
    background-color: var(--dark-03);
  }

  hr {
    @include mix.interpolate(margin-top, 320px, 1480px, 16px, 40px);
  }

  ul {
    @extend .list-article;
    list-style-type: none;

    li {
      @extend .list-article__item;
      @include mix.interpolate(font-size, 320px, 1480px, 16px, 18px);

      &::before {
        top: 0.8em;

        @media only screen and (max-width: 480px) {
          top: 0.7em;
        }
      }
    }

    > * + li {
      @include mix.interpolate(margin-top, 320px, 1480px, 6px, 10px);
    }
  }

  .video-cover {
    @include mix.interpolate(margin-top, 320px, 1480px, 20px, 40px);
  }
}

// article nav
// ===================================
.article-nav {
  @include mix.interpolate(margin-top, 320px, 1480px, 20px, 40px);
  @include mix.interpolate(padding, 320px, 1480px, 10px, 30px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mix.interpolate(border-radius, 320px, 1480px, 12px, 20px);
  border: 1px solid var(--light-03);
  background-color: var(--light-01);

  @media only screen and (max-width: 380px) {
    background-color: var(--light-white);
    border: none;
    padding: 0;

    &__prev, &__next {
      span {
        font-size: 13px;
      }
    }
  }

  &__prev {
    .link-arrow__icon {
      transform: rotate(-180deg);
    }
  }
}